.login-container{
    display: flex;
}
.example-form{
    margin-left: auto;
    margin-right:auto;
    padding: 174px;
    height: 100%;
}

.holder{
    margin-left: auto;
    margin-right:auto;
    padding: 2%;
    border: 1px solid rgb(185, 182, 182);
}
.small-msg{
    line-height: 1px;
    float: left;
    width: 200px;
}
.create-acc{
    font-size: small;
    text-align: right;
}
.login-button{
    padding: 2px 60px;
    text-align: center;
    display: inline-block;
    left: 100px;
}
.log{
    display: flex;
}