<div class="login-container">
<form class="example-form">
    <div class="holder">
        <div class="small-msg">
            <h3>Welcome Back!</h3>
            <p>Login to your Account<p>
        </div>
        <div class="create-acc">
            <a href="#">Create Account</a>
        </div>
    
    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Email Address*" value="Email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password*" value="Password">
    </mat-form-field>
    <div class="log">
        <button mat-flat-button class="login-button">Login</button>
    </div>
    </div>
  </form>

</div>